@model Nop.Plugin.Widgets.NivoSliderCustom.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="slider-wrapper theme-custom">
    <div id="nivo-slider" class="nivoSlider">
        <h1>This is from NivoSliderCustom plugin!</h1> 
        <h1>Name: @Model.Name</h1>
        <h1>Id: @Model.Id</h1>
    </div>
</div>